.faq-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d7dae6;
  min-height: 100vh;
}
.faq-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 50px;
  width: 900px;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 576px) {
  .faq-cont {
    width: 80%;
    height: 70%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.faq {
  color: #cb8805;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}
.faq-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}
